.innerbanner-area{
    .pic-area{
        position: relative;
        .pic{
            object-fit: cover;
        }
        &::before{
            position: absolute;
            content:" ";
            top:0;
            left:0;
            height: 100%;
            width:100%;
            background-color: rgba(255, 255, 255, 0.507);
            z-index: 1;
        }

    }
}